{% extends 'dashboard.html' %} 


{% block title %}{{ request.postavke.postavke_profila_heading }} {% endblock title %} 


{% block content %}
<div class="row bg-light">
  <aside class="col-12 col-md-2 bg-dark py-2 d-none d-md-block" style="height: 100vh;">
    <img class="img-thumbnail img-fluid" src="{{ request.white_logo }}" alt="IPTV4U World Logo">
    <h5 class="text-light text-center mt-3">Dobro Dosli {{ global_user_profile.ime }}!</h5>
    <div class="nav flex-column nav-pills mt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a
            class="nav-link text-light my-2 "
            href="{% url 'dashboard' %}"
        ><i class="fa-solid fa-house"></i> Pocetna</a>
        <a
            class="nav-link text-light my-2  "
            id="v-pills-profile-tab"
            href="{% url 'lista_preplata' %}"
        ><i class="fa-solid fa-receipt"></i> Preplate</a>
        <a
            class="nav-link text-light my-2 "
            href="{% url 'balance' %}"
        ><i class="fa-solid fa-wallet"></i> Novčanik</a>
        <a
            class="nav-link text-light my-2"
            href="{% url 'podrska' %}"
        ><i class="fa-solid fa-comments"></i> Podrska</a>
        <a
        class="nav-link text-light my-2 active"
        href="{% url 'postavke' %}"
    ><i class="fa-solid fa-gear"></i> Postavke Profila</a>
    <a class="nav-link text-light my-2" href="{% url 'odjava' %}">
        <i class="fa-solid fa-right-from-bracket"></i> Odjava
    </a>
    </div>
</aside>

<!-- Mobile Navigation (Navbar) -->
<nav class="navbar navbar-expand-lg navbar-light bg-light d-block d-md-none">
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileNavOffcanvas" aria-controls="mobileNavOffcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="mobileNavOffcanvas" aria-labelledby="mobileNavOffcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="mobileNavOffcanvasLabel">Mobilna Navigacija</h5>
    <button type="button" class="btn-close btn-lg bg-light" data-bs-dismiss="offcanvas" aria-label="Zatvori"></button>
  </div>
  <div class="offcanvas-body">
    <img class="img-thumbnail img-fluid" src="{{ request.white_logo }}" alt="IPTV4U World Logo">
    <hr class="rounded">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'dashboard' %}"><i class="fa-solid fa-house"></i> Početna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lista_preplata' %}"><i class="fa-solid fa-receipt"></i> Preplate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'balance' %}"><i class="fa-solid fa-wallet"></i> Novčanik</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'podrska' %}"><i class="fa-solid fa-comments"></i> Podrška</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'postavke' %}"><i class="fa-solid fa-gear"></i> Postavke Profila</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'odjava' %}"><i class="fa-solid fa-right-from-bracket"></i> Odjava</a>
      </li>
    </ul>
  </div>
</div>



<style>
  .navbar-nav .nav-link {
    color: #f8f9fa; /* Boja teksta */
    font-size: 1.2rem; /* Povećanje veličine fonta */
    margin-bottom: 40px; /* Dodajte još veći razmak između stavki */
  }

  .navbar-toggler {
    margin-left: 25px; /* Dodajte marginu s lijeve strane ikone */
  }
  
  /* Stilizacija ikona u linkovima */
  .navbar-nav .nav-link i {
    font-size: 1.5rem; /* Povećanje veličine ikona */
    margin-right: 10px; /* Dodajte razmak između ikona i teksta */
  }
  
  /* Stilizacija offcanvas panela */
  .offcanvas {
    position: absolute;
    top: 0;
    left: -100%; /* Pomaknite panel izvan ekrana */
    width: 70%; /* Prilagodite širinu prema svojim preferencijama */
    background-color: #212529; /* Tamna pozadina za tijelo panela */
    box-shadow: none; /* Uklonite sjenu panela */
    transition: left 0.3s ease-in-out; /* Dodajte animaciju pri otvaranju */
  }
  .offcanvas.show {
    left: 0; /* Prikazivanje panela */
  }

  hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }
</style>

  <div class="col-12 col-md py-2">
    <div class="container">
      <h1 class="my-3">{{ request.postavke.postavke_profila_heading }}</h1>

      <ul class="nav nav-tabs" id="settingsTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="generalSettings-tab"
            data-bs-toggle="tab"
            data-bs-target="#generalSettings"
            type="button"
            role="tab"
            aria-controls="generalSettings"
            aria-selected="true"
          >
            Generalne Postavke
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="securitySettings-tab"
            data-bs-toggle="tab"
            data-bs-target="#securitySettings"
            type="button"
            role="tab"
            aria-controls="securitySettings"
            aria-selected="false"
          >
            Postavke Sigurnosti
          </button>
        </li>
        <!-- Dodajte više tabova prema potrebi -->
      </ul>

      <div class="tab-content" id="settingsTabContent">
        <div
          class="tab-pane fade show active"
          id="generalSettings"
          role="tabpanel"
          aria-labelledby="generalSettings-tab"
        >
          <!-- Sadržaj za Generalne Postavke -->
          <div class="container">
            <h2 class='my-3'>Ažurirajte svoj profil</h2>
            <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="ime" class="form-label">Ime</label>
                <input
                  type="text"
                  class="form-control"
                  id="ime"
                  name="ime"
                  value="{{ request.user.first_name }}"
                />
              </div>
              <div class="mb-3">
                <label for="prezime" class="form-label">Prezime</label>
                <input
                  type="text"
                  class="form-control"
                  id="prezime"
                  name="prezime"
                  value="{{ request.user.last_name }}"
                />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  value="{{ request.user.email }}"
                />
              </div>
              <div class="mb-3">
                <label for="telefon" class="form-label">Telefon</label>
                <input
                  type="text"
                  class="form-control"
                  id="telefon"
                  name="telefon"
                  value="{{ user_profile.broj_mobitela }}"
                />
              </div>
              <div class="mb-3">
                <label for="drzava" class="form-label">Država</label>
                <input
                  type="text"
                  class="form-control"
                  id="drzava"
                  name="drzava"
                  value="{{ user_profile.drzava }}"
                />
              </div>
              <!-- Ostatak vašeg HTML obrasca za Generalne Postavke -->
              <button type="submit" class="btn btn-primary">
                <i class="fa-regular fa-floppy-disk"></i> Spremi promjene
              </button>
            </form>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="securitySettings"
          role="tabpanel"
          aria-labelledby="securitySettings-tab"
        >
          <!-- Sadržaj za Postavke Sigurnosti -->
          <div class="container">
            <h2 class='my-3'>Postavke Sigurnosti</h2>
            <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="old_password" class="form-label"
                  >Stara lozinka</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="old_password"
                  name="old_password"
                />
              </div>
              <div class="mb-3">
                <label for="new_password1" class="form-label"
                  >Nova lozinka</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="new_password1"
                  name="new_password1"
                />
              </div>
              <div class="mb-3">
                <label for="new_password2" class="form-label"
                  >Potvrdite novu lozinku</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="new_password2"
                  name="new_password2"
                />
              </div>
              <input type="hidden" name="change_password" value="True" />
              <!-- Ostatak vašeg HTML obrasca za Postavke Sigurnosti -->
              <button type="submit" class="btn btn-primary">
                <i class="fa-regular fa-floppy-disk"></i> Spremi promjene
              </button>
            </form>
          </div>
        </div>
        <!-- Dodajte više tabova prema potrebi -->
      </div>

      {% if messages %}
      {% for message in messages %}
        <div class="alert 
          {% if message.tags == 'error' %} 
            alert-danger
          {% else %}
            alert-{{ message.tags }}
          {% endif %}
          alert-dismissible fade show mt-3" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}


    </div>
  </div>
</div>
{% endblock content %}
